/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 févr. 2017, 12:52:55
    Author     : Lamine
*/
* {
        text-align: justify !important;

}

body {
    background-color:#eff7f6 !important;
}

div#panelInfoID {
    padding-left: 1em;
}



div#search-history-id {
    padding-right: 1em;
}